.button {
  width: min-content;
  padding: 2px 6px;
  border: none;
  background-color: #DFDFDF;
  color: #910303;
  border-radius: 8px;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}